<footer>
    <ul>
        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
    </ul>
    <small>
        Created by 
        <a href="https://onclickwebdesign.com" target="_blank">
            OnClick Web Design
            <img src="https://i1.wp.com/onclickwebdesign.com/wp-content/uploads/2018/08/cropped-OnClick-logo_mark.png?fit=32%2C32&amp;ssl=1" alt="OnClick Web Design Logo" />
        </a>.
    </small>
</footer>