<header>
    <div class="flex">
        <h1><a href="/">Collection Organizer</a></h1>
        <a id="logo" href="/">
            <img src="/static/img/library-logo.jpg" alt="Collection Organizer Logo" />
        </a>
    </div>
</header>